.title {
    text-align: center;
}

.teamName {
    text-align: center;
}

.gameContainer {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    height: 515px;
    width: 412px;
    border: dotted black;
}

.gameBoard img {
    width: 103px;
    height: 103px;
}